<h2>Forcer Settings</h2>

<%

queries = if Query.const_defined?( "VISIBILITY_PUBLIC" )
  IssueQuery.select( "queries.name, filters, projects.name AS project_name, queries.id" )
            .joins( "LEFT OUTER JOIN projects ON projects.id = queries.project_id" )
            .where( 'visibility IN ( ?)', [Query::VISIBILITY_PUBLIC, Query::VISIBILITY_ROLES] )
else
  IssueQuery.select( "queries.name, filters, projects.name AS project_name, queries.id" )
            .joins( "LEFT OUTER JOIN projects ON projects.id = queries.project_id" )
            .where( 'queries.is_public' => true )
end
opts = []
queries.select! do |x|
  is_good = false
  x.filters.keys.each do |field|
    if x.filters[field][:values]
      x.filters[field][:values].each do |v|
        if v == 'me'
          is_good = true
          break
        end
      end
    else 
      opts << x.filters[field][:values]
    end
    break if is_good
  end
  is_good
end
                      
counter = 0
-%>
<% if queries.count.zero? -%>
  <div class='error'>
    <p>
      There are no queries that are applicable at this moment.
    </p>
  </div>
    
<%else -%>
  <% queries.map!{ |x| ["%s > %s" % [ x.project_name || 'Global', x.name], x.id] } -%>
                    
  <table id='forcer'>
    <thead>
      <tr>
        <th>Issue Query</th>
        <th>Maximum Issues</th>
      </tr>
    <tbody>
      <% (settings['query_ids'] || [] ).each_with_index do |query_id, i| -%>
        <tr>
          <td><%= select_tag( "settings[query_ids][]",
              options_for_select( queries, query_id.to_i ) ) -%>
          </td>
          <td>
            <%= text_field_tag( "settings[max_issues][]", settings['max_issues'][i], :maxlength => 5 ) -%>
          </td>
          <td>
            <%= link_to "remove", "#", :class => 'remove' -%>
          </td>
          <% counter += 1 -%>
        </tr>
      <% end -%>
      <% if counter.zero? -%>
        <tr>
          <td>
            <%= select_tag( "settings[query_ids][]",
            options_for_select( [["", nil]] + queries, nil ) ) -%>
          </td>
          <td>
            <%= text_field_tag( "settings[max_issues][]", '', :maxlength => 5 ) -%>
          </td>
          <td>
            <%= link_to "remove", "#", :class => 'remove' -%>
          </td>
        </tr>
      <%end -%>
    </tbody>
  </table>
  <%= link_to( 'Add an Issue Query', '#', :id => 'add_row' ) -%>
<% end -%>
<script type='text/javascript'>
//<!--[CDATA[
  var QUERIES = <%= raw queries.to_json -%>;
  var counter = <%= counter -%>;
  function addQuery( e )
  {
    e.preventDefault();
    var row = $( "<tr>" + $('table#forcer tbody tr').first().html() + "</tr>" );
    $('table#forcer tbody').append( row );
    counter++;
  }
  $( 'a#add_row' ).click( addQuery );
  $( 'table#forcer').on( 'click', 'a.remove', function(e){ $( e.target ).closest( 'tr' ).remove(); } );
//]]>
</script>
